{% extends 'shop/basic.html' %} {% block title%} myshop{% endblock %} 
{% block body %}
{% block css %}
<style>
  h1 {
    text-align: center;
  }
</style>
{% endblock %}
<div class="container">
  <h1 class="my-3">Contact us</h1>
  <form action="/shop/contact/" method="post">
    {% csrf_token %}
    <div class="mb-3">
      <label for="name" class="form-label">Full Name</label>
      <input
        type="text"
        name="name"
        class="form-control"
        id="name"
        placeholder="Enter your name"
      />
      <br />
      <label for="name" class="form-label">E-mail</label>
      <input
        type="email"
        name="email"
        class="form-control"
        id="email"
        placeholder="Enter your email"
      />
      <div id="emailHelp" class="form-text">
        We'll never share your email with anyone else.
      </div>
    </div>
    <div class="mb-3">
      <label for="ph.no" class="form-label">Phone no.</label>
      <input
        type="tel"
        name="ph.no"
        placeholder="enter your phone no. here"
        class="form-control"
        id="phone"
      />
      <div id="phoneHelp" class="form-text">
        We'll never share your phone number with anyone else.
      </div>
    </div>
    <div class="mb-3">
      <label for="comment" class="form-label">
        <h5>How can we help you ?</h5>
      </label>
      <textarea
        name="text"
        placeholder="Comment here"
        class="form-control"
        id="comment"
        rows="3"
      ></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{% endblock %} 
